# Unity Gitignore
[Ll]ibrary/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uilds/
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.pidb
*.suo
*.db
.vs/
*.VC.db
*.vsp
.vspx
*.booproj
*pidb.meta
*.unityproj.meta
Assets/AssetStoreTools
UserSettings/
MemoryCaptures/
Builds/
*.apk
*.xapk
*.app/
*.ipa
*.unitypackage
.DS_Store
*.exe
*.dll
*.meta
